*{
    margin:0;
    padding:0;
}
body{
    color:black;
    background-color:rgb(248, 248, 237);
    font-family: 'Poppins', sans-serif;
    
}
.size{
    display: none;
}
.container{
    display: flex;
}
img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
}
li,a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.main_container{
    position: absolute;
    overflow: hidden;
    width: 0px;
    height: 700px;
    padding-top: 20px;
    border: none;
    box-shadow: 5px 5px 5px black;
    transition: all 0.6s;
}
.active{
    transition: all 0.6s;
}

.Image{
    display: flex;
    margin-bottom: 40px;
    gap:10px;
    margin-left: 30px;
}
.Image h1{
    font-size: 30px;
    color: rgb(115, 20, 192); 
}

.list li{
    gap:20px;
}
.list_element a{
    margin-bottom: 10px;
    margin-left:30px;
    display: flex;
    align-items: center;
    gap:10px;

}
.list_element a:hover{
    color: rgb(189, 86, 26);
}
.list_element a p{
    font-weight: bold;
    display:flex;
    align-items: center;
}
#logout{
    position: absolute;
    bottom: 2rem;
}
hr{
    position: absolute;
    width: 150px;
    margin:0px 20px;
    bottom: 7rem;
}
#setting{
    position: absolute;
    bottom:4rem;
}
.bar{
    margin-left: 30px;
    margin-top: 30px;
    transition: all 0.6s;
    /* margin-left: 250px; */
}
/* name */
.name{
    margin:30px 0px 0px 50px;
    border: 1px solid black;
    height: 30px;
    width: 1300px;
    border-radius: 10px;
}
.name p{
 margin:2px 4px;
}
.image2 img{
    margin-top: 20px;
    margin-left: 40px;
}
.right-side{
    margin-left: 10px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: all 0.6s;
}
/* Dashboard */
.Dashboard h1{
    margin-top: 30px;
    margin-left: 30px;
}
.total{
    display: flex;
    margin:20px 60px;
    justify-content:space-between;
    align-items: center;
}
.total i{
    display: flex;
    justify-content: center;
}
.total p{
    font-weight: bold;
    text-align: center;
}
.like{
    padding-top: 30px;
    border: none;
    height: 90px;
    width:160px;
    background-color: rgb(129, 197, 228);
    border-radius: 10px;
}
.comment{
    padding-top: 30px;
    border: none;
    height: 90px;
    width:160px;
    background-color:rgb(168, 204, 115);
    border-radius: 10px;
}
.share{
    padding-top: 30px;
    border: none;
    height: 90px;
    width:160px;
    background-color:rgb(193, 110, 193);
    border-radius: 10px;
}
.save{
    padding-top: 30px;
    border: none;
    height: 90px;
    width:160px;
    background-color:rgb(240, 148, 148);
    border-radius: 10px;
}
/* recent */
.recent-activity h1{
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
}
.recent{
    margin:20px 30px;
    display: flex;
    gap:130px;
    transition: all 0.6s;
}

.recent p{
    font-weight:900;
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(7, 19, 45);
   
    
}
.recent li{
    margin-bottom: 10px;
     font-size: medium;
    font-weight:600;
}
.join{
    margin-left: 350px;
}
@media screen and (max-width:630px) {
    .container,.right-side{
        display: none;
    }
    .size{
        display: flex;
        text-align: center;
        line-height: 35px;
        background-color: rgb(112, 200, 216);
        color: #161313;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

}


